/* -- Global rules -- */
* {
  border: none;
  font-family: "Fura Mono NF";
  font-size: 16px;
}
window#waybar {
  background: rgba(34, 36, 54, 0);
  border-radius: 10px;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-os-button,
#clock,
#pulseaudio,
#battery,
#custom-bandwidth,
#tray,
#language {
  color: #161320;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-os-button {
  font-size: 24px;
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #FFFFFF;
}

/* Separation to the rigth */
#clock{
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#battery, #custom-bandwidth {
  margin-left: 5px;
  padding-right: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#tray,
#language {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */


#clock {
  background: #ABE9B3;
}

#battery, #custom-bandwidth {
  background: #96CDFB;
}

#tray {
  background: #DDB6F2;
}

#disk {
  background: #F5C2E7;
}

#temperature {
  background: #F8BD96;
}

/* Modules center */
#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #B5E8E0;
  background: transparent;
  padding: 6px 6px;
}

#workspaces button.active {
  color: #89B4FA;
}

#workspaces button:hover {
  color: #89B4FA;
  box-shadow: inherit;
  text-shadow: inherit;
}


/* Modules right */
#tray {
  background: #F1EB9D;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 5px;
  margin-right: 5px;
}

#tray button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
}

#tray button.active {
  background: rgba(34, 36, 54, 0.5);
}


#pulseaudio{
  min-width: 55px;
  color: #1A1826;
  background: #E8A2AF;
}


#pulseaudio-slider slider {}


#network {
  background: #CBA6F7;
  padding-right: 13px;
}

#language {
  background: #A6E3A1;
  padding-right: 15px;
}

/* === Optional animation === */
/* @keyframes blink { */
/*   to { */
/*     background-color: #BF616A; */
/*     color: #B5E8E0; */
/*   } */
/* } */
